@model SearchSellerViewModel
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2>
                    <i class="im im-icon-File-Search icon-header-card"></i>
                    جستجوی <strong>فروشندگان</strong>
                </h2>
            </div>
            <div class="body">

                <div class="row clearfix">
                    <div class="col-lg-2">
                        <div class="form-group form-float">
                            <div class="form-line ">
                                <i class="im im-icon-User prefix"></i>
                                <input type="text" asp-for="Username" class="form-control" autocomplete="off">
                                <label asp-for="Username" class="form-label"></label>
                            </div>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group form-float">
                            <div class="form-line ">
                                <i class="im im-icon-Email prefix"></i>
                                <input type="text" asp-for="Email" class="form-control" autocomplete="off">
                                <label asp-for="Email" class="form-label"></label>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="ActivityStatus"></label>
                        <div class="form-group">
                            <div class="form-line ">
                                <select asp-for="ActivityStatus" class="ui search dropdown" multiple=""
                                        asp-items="Html.GetEnumSelectList<OnlineFood.Domain.Enum.ActivityStatus>()"></select>
                                <span asp-validation-for="ActivityStatus" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group form-float">
                            <div class="form-line ">
                                <i class="im im-icon-Dec prefix"></i>
                                <input type="text" asp-for="FromCreatorDateTime" autocomplete="off" class="form-control">
                                <label asp-for="FromCreatorDateTime" class="form-label"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group form-float">
                            <div class="form-line ">
                                <i class="im im-icon-Dec prefix"></i>
                                <input type="text" asp-for="ToCreatorDateTime" autocomplete="off" class="form-control">
                                <label asp-for="ToCreatorDateTime" class="form-label"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-4">
                        <div class="form-group form-float">
                            <div class="form-line ">
                                <i class="im im-icon-User prefix"></i>
                                <input type="text" asp-for="TrackingCode" class="form-control" autocomplete="off">
                                <label asp-for="TrackingCode" class="form-label"></label>
                            </div>
                            <span asp-validation-for="TrackingCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="SellerType"></label>
                        <div class="form-group">
                            <div class="form-line ">
                                <select asp-for="SellerType" class="ui search dropdown" multiple=""
                                        asp-items="Html.GetEnumSelectList<OnlineFood.Domain.Enum.SellerType>()"></select>
                                <span asp-validation-for="SellerType" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <!-- اطلاعات حقیقی -->
                    <div class="col-lg-6">
                        <fieldset class="section">
                            <legend class="section-header"> اطلاعات حقیقی </legend>
                            <div class="row ">
                                <div class="col-md-4">
                                    <div class="form-group form-float">
                                        <div class="form-line ">
                                            <i class="im im-icon-Chef prefix"></i>
                                            <input type="text" asp-for="Firstname" class="form-control" autocomplete="on">
                                            <label asp-for="Firstname" class="form-label"></label>
                                        </div>
                                        <span asp-validation-for="Firstname" class="text-danger invalid label"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-float">
                                        <div class="form-line ">
                                            <i class="im im-icon-Chef prefix"></i>
                                            <input type="text" asp-for="Lastname" class="form-control" autocomplete="on">
                                            <label asp-for="Lastname" class="form-label"></label>
                                        </div>
                                        <span asp-validation-for="Lastname" class="text-danger invalid label"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group form-float">
                                        <div class="form-line ">
                                            <i class="im im-icon-Dec prefix"></i>
                                            <input type="text" asp-for="BirthDate" autocomplete="off" class="form-control">
                                            <label asp-for="BirthDate" class="form-label"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label asp-for="Gender"></label>
                                    <div class="form-group">
                                        <div class="form-line "> 
                                            <select asp-for="Gender" class="ui search dropdown" multiple=""
                                                    asp-items="Html.GetEnumSelectList<OnlineFood.Domain.Enum.Gender>()"></select>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-float">
                                        <div class="form-line ">
                                            <i class="im im-icon-Numbering-List prefix"></i>
                                            <input type="text" asp-for="NationalCode" class="form-control ltr-direction" autocomplete="on">
                                            <label asp-for="NationalCode" class="form-label"></label>
                                        </div>
                                        <span asp-validation-for="NationalCode" class="text-danger invalid label"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-float">
                                        <div class="form-line ">
                                            <i class="im im-icon-Numbering-List prefix"></i>
                                            <input type="text" asp-for="BirthCertificateNumber" class="form-control ltr-direction" autocomplete="on">
                                            <label asp-for="BirthCertificateNumber" class="form-label"></label>
                                        </div>
                                        <span asp-validation-for="BirthCertificateNumber" class="text-danger invalid label"></span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!-- اطلاعات حقوقی -->
                    <div class="col-lg-6">
                        <fieldset class="section">
                            <legend class="section-header"> اطلاعات حقوقی </legend>
                            <div class="row ">
                                <div class="col-md-4">
                                    <div class="form-group form-float">
                                        <div class="form-line ">
                                            <i class="im im-icon-Tower-2 prefix"></i>
                                            <input type="text" asp-for="CompanyTitle" class="form-control" autocomplete="on">
                                            <label asp-for="CompanyTitle" class="form-label"></label>
                                        </div>
                                        <span asp-validation-for="CompanyTitle" class="text-danger invalid label"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="CompanyType"></label>
                                    <div class="form-group">
                                        <div class="form-line ">
                                            <select asp-for="CompanyType" class="ui search dropdown" multiple=""
                                                    asp-items="Html.GetEnumSelectList<OnlineFood.Domain.Enum.CompanyType>()"></select>
                                            <span asp-validation-for="CompanyType" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-float">
                                        <div class="form-line ">
                                            <i class="im im-icon-Numbering-List prefix"></i>
                                            <input type="text" asp-for="RegistrationNumber" class="form-control ltr-direction" autocomplete="on">
                                            <label asp-for="RegistrationNumber" class="form-label"></label>
                                        </div>
                                        <span asp-validation-for="RegistrationNumber" class="text-danger invalid label"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-float">
                                        <div class="form-line ">
                                            <i class="im im-icon-Numbering-List prefix"></i>
                                            <input type="text" asp-for="NationalId" class="form-control ltr-direction" autocomplete="on">
                                            <label asp-for="NationalId" class="form-label"></label>
                                        </div>
                                        <span asp-validation-for="NationalId" class="text-danger invalid label"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-float">
                                        <div class="form-line ">
                                            <i class="im im-icon-Numbering-List prefix"></i>
                                            <input type="text" asp-for="EconomicCode" class="form-control ltr-direction" autocomplete="on">
                                            <label asp-for="EconomicCode" class="form-label"></label>
                                        </div>
                                        <span asp-validation-for="EconomicCode" class="text-danger invalid label"></span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="row clearfix">
                    <!-- اطلاعات تجاری -->
                    <div class="col-lg-6">
                        <fieldset class="section">
                            <legend class="section-header"> اطلاعات تجاری </legend>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-float">
                                        <div class="form-line ">
                                            <i class="im im-icon-Shop prefix"></i>
                                            <input type="text" asp-for="Title" class="form-control" autocomplete="on">
                                            <label asp-for="Title" class="form-label"></label>
                                        </div>
                                        <span asp-validation-for="Title" class="text-danger invalid label"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="SellerPosition"></label>
                                    <div class="form-group">
                                        <div class="form-line ">
                                            <select asp-for="SellerPosition" class="ui search dropdown" multiple=""
                                                    asp-items="ViewBag.SellerPositions as IEnumerable<SelectListItem>"></select>
                                            <span asp-validation-for="SellerPosition" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-float">
                                        <div class="form-line ">
                                            <i class="im im-icon-Credit-Card2 prefix"></i>
                                            <input type="text" asp-for="ShabaNumber" class="form-control ltr-direction" autocomplete="on">
                                            <label asp-for="ShabaNumber" class="form-label"></label>
                                        </div>
                                        <span asp-validation-for="ShabaNumber" class="text-danger invalid label"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-12">
                                    <label asp-for="RestaurantCategory"></label>
                                    <div class="form-group">
                                        <div class="form-line ">
                                            <select asp-for="RestaurantCategory" class="ui search dropdown" multiple=""
                                                    asp-items="ViewBag.RestaurantCategories as IEnumerable<SelectListItem>"></select>
                                            <span asp-validation-for="RestaurantCategory" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!-- اطلاعات تماس -->
                    <div class="col-lg-6">
                        <fieldset class="section">
                            <legend class="section-header"> اطلاعات تماس </legend>
                            <div class="row ">
                                <div class="col-md-4">
                                    <label asp-for="City"></label>
                                    <div class="form-group">
                                        <div class="form-line ">
                                            <select asp-for="City" class="ui search dropdown" multiple=""
                                                    asp-items="ViewBag.Cities as IEnumerable<SelectListItem>"></select>
                                            <span asp-validation-for="City" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-float">
                                        <div class="form-line ">
                                            <i class="im im-icon-Phone-2 prefix"></i>
                                            <input type="text" asp-for="TelphoneNumber" class="form-control ltr-direction" autocomplete="on">
                                            <label asp-for="TelphoneNumber" class="form-label"></label>
                                        </div>
                                        <span asp-validation-for="TelphoneNumber" class="text-danger invalid label"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-float">
                                        <div class="form-line ">
                                            <i class="im im-icon-Phone-Wifi prefix"></i>
                                            <input type="text" asp-for="PhoneNumber" class="form-control ltr-direction" autocomplete="on">
                                            <label asp-for="PhoneNumber" class="form-label"></label>
                                        </div>
                                        <span asp-validation-for="PhoneNumber" class="text-danger invalid label"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-float">
                                        <div class="form-line ">
                                            <i class="im im-icon-Location-2 prefix"></i>
                                            <input type="text" asp-for="ZipCode" class="form-control ltr-direction" autocomplete="on">
                                            <label asp-for="ZipCode" class="form-label"></label>
                                        </div>
                                        <span asp-validation-for="ZipCode" class="text-danger invalid label"></span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="row clearfix actions">
                    <div class="actions col-md-12 col-sm-12 col-xs-12">
                        <button type="button" class="btn btn-outline-success" id="btn-search"><i class="fa fas fa-search"></i>جستجو</button>
                        <button type="button" class="btn btn-outline-danger" id="btn-search-reset"><i class="fa fas fa-eraser"></i>پاک کردن جستجو</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>