@model SellerViewModel
@{
    ViewData["Title"] = "فروشندگان";
}
@section css{
    <!-- bootstrap datepicker CSS -->
    <link href="~/lib/MD.BootstrapPersianDateTimePicker/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
}
@{await Html.RenderPartialAsync("_SearchSeller", new SearchSellerViewModel() { });}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2>
                    <i class="im im-icon-Chef icon-header-card"></i>
                    مدیریت <strong>فروشندگان</strong>
                </h2>
            </div>
            <div class="body">
                <div class="ui basic modal">
                    <div class="ui icon header">
                        <i class="im im-icon-Trash-withMen icon-header-delete-confirm"></i>
                        <span>حذف</span>
                    </div>
                    <div class="content">
                        <p> آیا میخواهید حذف کنید؟ </p>
                    </div>
                    <div class="actions">
                        <button class="ui inverted grey cancel  basic button"> <i class="im im-icon-Close icon-action-delete-confirm"></i>خیر</button>
                        <button class="ui inverted ok red basic button">  <i class="im im-icon-Yes icon-action-delete-confirm"></i>بلی، حذف شود</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tableExport" data-url="/admin/seller/getdata/" class="display table table-hover table-bordered table-checkable order-column width-per-100">
                        <thead>
                            <tr>
                                <th class="center">#</th>
                                <th class="center">نام کاربری</th>
                                <th class="center">حقیقی/حقوقی</th>
                                <th class="center">رستوران</th>
                                <th class="center">شهر</th>
                                <th class="center">شماره تلفن</th>
                                <th class="center">جایگاه کاری</th>
                                <th class="center">کد رهگیری</th>
                                <th class="center">وضعیت</th>
                                <th class="center">تاریخ ایجاد</th>
                                <th class="center"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th class="center">#</th>
                                <th class="center">نام کاربری</th>
                                <th class="center">حقیقی/حقوقی</th>
                                <th class="center">رستوران</th>
                                <th class="center">شهر</th>
                                <th class="center">شماره تلفن</th>
                                <th class="center">جایگاه کاری</th>
                                <th class="center">کد رهگیری</th>
                                <th class="center">وضعیت</th>
                                <th class="center">تاریخ ایجاد</th>
                                <th class="center"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row clearfix actions">
                    @*<div class="actions col-md-12 col-sm-12 col-xs-12">
                            <a href="/admin/seller/create/" class="btn btn-outline-success"><i class="fa fa-plus combination-icon-actions"></i><i class="im im-icon-Hamburger combination-icon-actions"></i>افزودن نوع غذا جدید</a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <!-- bootstrap datepicker JS -->
    <script src="~/lib/MD.BootstrapPersianDateTimePicker/jquery.md.bootstrap.datetimepicker.js"></script>
    <script>
        var urlDelete = "@Url.Action("delete", "seller")";
        var urlEdit = "@Url.Action("edit", "seller")";
        var urlDetail = "@Url.Action("detail", "seller")";
        var dataTable = {
            table: null,
            $rec: null,
            $deleteUrl: null,
            initilizeDataTable: function () {
                var $table = $("#tableExport");
                dataTable.table = $table.DataTable({
                    iDisplayLength: 10,
                    responsive: true,
                    stateSave: false,
                    processing: true,
                    autoWidth: false,
                    serverSide: true,
                    searching: true,
                    paging: true,
                    bLengthChange: false,
                    bProcessing: true,
                    //orderCellsTop: true,
                    columnDefs: [
                       { width: '1%', targets: 0 },
                       { width: '12%', targets: 1 },
                       @*@if (true)
	                   {
	                   	  <Text>  { width: '3%', targets: 2 },</text>
	                   }*@
                       { width: '12%', targets: 2 },
                       { width: '12%', targets: 3 },
                       { width: '10%', targets: 4 },
                       { width: '12%', targets: 5 },
                       { width: '7%', targets: 6 },
                       { width: '7%', targets: 7 },
                       { width: '1.%', targets: 8 },
                       { width: '12%', targets: 9 },
                       { width: '10%', targets: 10 },
                    ],
                    fixedColumns: true,
                    "language": {
                        "lengthMenu": "نمایش _MENU_ رکورد در هر صفحه",
                        "zeroRecords": "رکوردی یافت نشد",
                        "info": "صفحه _PAGE_ از _PAGES_",
                        "infoEmpty": "هیچ اطلاعاتی ثبت نشده است",
                        "infoFiltered": "(فیلتر از _MAX_ رکورد)",
                        search: "جستجو : ",
                        "processing": "<span style='color: #0c1077;'><i id='processingIcon' class='fa fa-cog fa-spin'></i>در حال بارگذاری اطلاعات...<span>",
                        "searchPlaceholder": "جستجوی سریع",
                        "paginate": {
                            "first": "صفحه اول",
                            "next": "بعدی",
                            "previous": "قبلی",
                            "last": "صفحه آخر",
                        }
                    },
                    fixedHeader: {
                        header: true,
                        footer: true
                    },
                    ajax: {
                        url: $table.attr("data-url"),
                        type: "POST",
                        dataType: 'json',
                        data: function (d) {
                            debugger;
                            //var result = $('#ActivityStatus').dropdown('get value');
                            return $.extend({}, d, {
                                Username: $("input[name='Username']").val(),
                                Email: $("input[name='Email']").val(),
                                ActivityStatus: $("#ActivityStatus").val(),
                                FromCreatorDateTime: $("input[name='FromCreatorDateTime']").val().trim(),
                                ToCreatorDateTime: $("input[name='ToCreatorDateTime']").val().trim(),
                                TrackingCode: $("input[name='TrackingCode']").val(),
                                SellerType: $("#SellerType").val(),
                                Firstname: $("input[name='Firstname']").val(),
                                Lastname: $("input[name='Lastname']").val(),
                                BirthDate: $("input[name='BirthDate']").val().trim(),
                                Gender: $("#Gender").val(),
                                NationalCode: $("input[name='NationalCode']").val(),
                                BirthCertificateNumber: $("input[name='BirthCertificateNumber']").val(),
                                CompanyTitle: $("input[name='CompanyTitle']").val(),
                                CompanyType: $("#CompanyType").val(),
                                RegistrationNumber: $("input[name='RegistrationNumber']").val(),
                                NationalId: $("input[name='NationalId']").val(),
                                EconomicCode: $("input[name='EconomicCode']").val(),
                                Title: $("input[name='Title']").val(),
                                SellerPosition: $("#SellerPosition").val(),
                                ShabaNumber: $("input[name='ShabaNumber']").val(),
                                RestaurantCategory: $("#RestaurantCategory").val(),
                                City: $("#City").val(),
                                TelphoneNumber: $("input[name='TelphoneNumber']").val(),
                                PhoneNumber: $("input[name='PhoneNumber']").val(),
                                ZipCode: $("input[name='ZipCode']").val()
                            });
                        }
                    },
                    "aoColumns": [
                              {
                                  "sName": "Row",
                                  "searchable": false,
                                  "sortable": true,
                              },
                              { "sName": "Column1" },
                              { "sName": "Column2" },
                              { "sName": "Column3" },
                              { "sName": "Column4" },
                              { "sName": "Column5" },
                              { "sName": "Column6" },
                              { "sName": "Column7" },
                              { "sName": "Column8" },
                              { "sName": "Column9" },
                              {
                                  "sName": "Id",
                                  "bSearchable": false,
                                  "bSortable": false,
                                  "bVisible": true
                              }
                    ]
                    //"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    //        "t" +
                    //        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                    //"autoWidth": true,
                    //"preDrawCallback": function () {
                    //    // Initialize the responsive datatables helper once.
                    //    if (!responsiveHelper_datatable_fixed_column) {
                    //        responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($table, breakpointDefinition);
                    //    }
                    //},
                    //"rowCallback": function (nRow) {
                    //    responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                    //},
                    //"drawCallback": function (oSettings) {
                    //    responsiveHelper_datatable_fixed_column.respond();
                    //}
                });

                $("#btn-search").on('click', function () {
                    dataTable.table.draw();
                })

                dataTable.table.on('click', '.btn-tbl-edit', function (e) {
                    e.preventDefault();
                    var $btn = $(this);
                    var id = $($btn).attr('data-id');
                    var url = urlEdit + "/" + id + "/";
                    window.location = url;
                });

                dataTable.table.on('click', '.btn-tbl-detail', function (e) {
                    e.preventDefault();
                    var $btn = $(this);
                    var id = $($btn).attr('data-id');
                    var url = urlDetail + "/" + id + "/";
                    window.location = url;
                });


                dataTable.table.on('click', '.btn-tbl-delete', function (e) {
                    debugger;
                    e.preventDefault();
                    var $btn = $(this);
                    var id = $($btn).attr('data-id');
                    $deleteUrl = urlDelete + "/" + id + "/";
                    rec$ = $(this).closest('tr');
                    $('.ui.basic.modal').modal({
                            closable: false,
                            onDeny: function () {
                                debugger;
                                //window.alert('Wait not yet!');
                                return true;
                            },
                            onApprove: function () {
                                debugger;
                                //window.alert('Approved!');
                                dataTable.deletedata();
                            }
                        }).modal('show');

                });
            },
            getdata: function () {
                if (dataTable.table == null) {
                    dataTable.initilizeDataTable();
                }
                else {
                    dataTable.table.ajax.reload();
                }
            },
            deletedata: function () {

                $.post($deleteUrl, function (data) {
                    debugger;
                    if (data.succcess) {
                        rec$.children('td, th').animate({ padding: 0 }).wrapInner('<div/>').children().slideUp(function () { rec$.get(0).remove(); });
                        showNotification('alert-success', data.message, 'top', 'center', 'animated zoomInRight', 'animated zoomOutRight');
                    }
                    else {
                        showNotification('alert-danger', data.message, 'top', 'center', 'animated zoomInRight', 'animated zoomOutRight');
                    }
                });
            }
        }

        $(document).ready(function () {

            $("#btn-search-reset").click("on", function () {
                $("input[name='Title']").val('').parent().removeClass('focused');
                $('#ActivityStatus').dropdown('clear');
                $("input[name='FromCreatorDateTime']").val('').parent().removeClass('focused');
                $("input[name='ToCreatorDateTime']").val('').parent().removeClass('focused');
                dataTable.table.draw();
            })

            $('#FromCreatorDateTime').MdPersianDateTimePicker({
                targetTextSelector: '#FromCreatorDateTime',
                dateFormat: 'yyyy-MM-dd',
                isGregorian: false,
                enableTimePicker: false,
                disableBeforeToday: false,
            });

            $('#ToCreatorDateTime').MdPersianDateTimePicker({
                targetTextSelector: '#ToCreatorDateTime',
                dateFormat: 'yyyy-MM-dd',
                isGregorian: false,
                enableTimePicker: false,
                disableBeforeToday: false,
            });

            $('.ui.dropdown').dropdown('setting', {
                allowAdditions: false,
                message: { noResults: 'داده ای وجود ندارد', count: '{count} انتخاب شده است', },
            });

            dataTable.getdata();
        })

    </script>

    @Html.AlertNotification(TempData)
}
