@model ManageRestaurantMenuViewModel
@{
    ViewData["Title"] = "منوی رستوران";
}

@section css{
    <!-- bootstrap material datetimepicker -->
    <link href="~/lib/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <!-- autoComplete -->
    <link href="~/lib/autoComplete-master/auto-complete.css" rel="stylesheet" />
    <!-- lightgallery -->
    <link href="~/lib/lightgallery/dist/css/lightgallery.css" rel="stylesheet" />


    <style>
        /*#region menu items */
        .actions {
            padding: 10px;
        }

            .actions:before {
                content: "";
                width: 100%;
                height: 1px;
                background-color: #ecf1f1;
                display: block;
                padding: 3px 0px;
                margin-bottom: 10px;
            }



        .icon-style {
            margin-left: 10px;
            font-size: 20px;
            vertical-align: middle;
            bottom: 5px;
            position: relative
        }

        .restaurant-menu-title {
            display: flex;
            margin-top: 5px;
        }

        .restaurant-menu-description {
            margin-top: 35px;
            font-size: 13px;
            color: #111;
        }

        .restaurant-menu-price {
            display: block;
            font-weight: bold;
        }

        .menu-comments {
            position: absolute;
            bottom: 0;
        }

            .menu-comments .comments {
                background-color: #000000;
                color: #ffffff;
                opacity: 0.5;
            }

        .comments {
            display: inline-block;
            border-radius: 5px;
            background-color: #7daf74;
            padding: 2px 5px;
            cursor: pointer;
            background-color: #e6ece5;
            color: #52880B;
            opacity: 0.6;
        }



        .menu-favorite {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 35px;
            opacity: 0.8;
            color: white;
        }

        .favorite {
            background-color: rgba(0,0,0,0.7);
            /* position: absolute; */
            /* top: 25px; */
            /* right: 25px; */
            width: 60px;
            height: 60px;
            /* line-height: 60px; */
            text-align: center;
            border-radius: 100%;
        }

        .menu-favorite.active {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 45px;
            opacity: 1;
            color: #DB2828;
        }

        .menu-favorite .im, .menu-favorite .fa {
            color: white;
            opacity: 1;
            vertical-align: middle;
            top: 5px;
        }

        .menu-favorite.active .im, .menu-favorite.active .fa {
            color: red;
        }

        .favorite:hover i {
            color: red;
        }


        .tooltip-text-action {
            left: -7px !important;
            top: 55px !important;
        }

        .menu-title {
            min-height: 85px;
        }
        /*#endregion */
    </style>
}
<div class="card" id="seller-restaurantmenu-manage">
    <div class="header header-icon">
        <h2 dir="ltr">
            <a href="/" class="ui green right ribbon label">منوی رستوران</a>
        </h2>
    </div>
    <div class="body">
        <div id="restaurant-menu-content" style="min-height:60em;">
            <partial name="_List" model="@Model.RestaurantMenuViewModels" />
        </div>
    </div>
</div>
@section scripts{
    <!-- autoComplete -->
    <script src="~/lib/autoComplete-master/auto-complete.js"></script>
    <!-- lightgallery -->
    <script src="~/lib/lightgallery/dist/js/lightgallery-all.js"></script>
    <script src="~/js/user/light-gallery-image.js"></script>
    <script>
        $(document).on('click', "#restaurant-menu-submit", function () {
            debugger;
            var $form = $("form");
            $form.submit();
        });
        $(document).on('click', "#restaurant-menu-back", function () {
            debugger;
            var url = "/seller/restaurantmenu/list/";
            $.ajax({
                type: 'GET',
                //data: { id: id },
                url: url,
                datatype: 'application/json',
                async: true,
                success: function (data) {
                    debugger;
                    var $boxes = $(data.view);
                    var $target = $('#restaurant-menu-content');
                    $target.removeData().html("");
                    $target.css({ opacity: '0.0' }).html($boxes).delay(50).animate({ opacity: '1.0' }, 300);
                },
                //complete: function () {
                //    $("form").each(function () { $.data($(this)[0], 'validator', false); });
                //    $.validator.unobtrusive.parse("form");
                //},
                beforeSend: function (data, status) {
                    var loading = '<div class="loading" style="height:inherit;"><div class="cssload-main"><span class="cssload-spinner"></span></div></div>';
                    var $target = $('#restaurant-menu-content');
                    $target.removeData().html(loading);
                },
                error: function () {
                    ShowNotification('danger', "خطایی در سیستم رخ داده است!", "خطا", 'top', 'center', 'animated fadeIn', 'animated fadeOut');
                }
            })
        });
        $(document).on('submit', "form", function () {
            debugger;
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (data) {
                        debugger;
                        var $boxes = $(data.view);
                        var $target = $('#restaurant-menu-content');
                        $target.removeData().html("");
                        $target.css({ opacity: '0.0' }).html($boxes).delay(50).animate({ opacity: '1.0' }, 300);
                        if (data.success) {
                            ShowNotification('success', data.message, data.title, 'top', 'center', 'animated fadeIn', 'animated fadeOut');
                        }
                        else {
                            for (var i = 0; i < data.messages.length; i++) {
                                ShowNotification('danger', data.messages[i], '', 'top', 'center', 'animated fadeIn', 'animated fadeOut');
                            }
                        }
                    },
                    beforeSend: function (data, status) {
                        var loading = '<div class="loading" style="height:inherit;"><div class="cssload-main"><span class="cssload-spinner"></span></div></div>';
                        var $target = $('#restaurant-menu-content');
                        $target.removeData().html(loading);
                    },
                    error: function () {
                        ShowNotification('danger', "خطایی در سیستم رخ داده است!", "خطا", 'top', 'center', 'animated zoomInRight', 'animated zoomOutRight');
                    }
                });
            }
            return false;
        });
        function RemoveRestaurantMenuPanel(e) {
            debugger;
            var id = $(e).attr("data-val");
            //var $target = $(e).parent().parent().parent().parent().parent();
            //hide tooltip remove
            $(e).parent().addClass("hide").removeClass("visible");
            var url = "/seller/restaurantmenu/delete/";
            $.ajax({
                type: 'POST',
                data: { id: id },
                url: url,
                datatype: 'application/json',
                async: true,
                complete: function (data) {
                },
                success: function (data) {
                    debugger;
                    var $boxes = $(data.view);
                    var $target = $('#restaurant-menu-content');
                    $target.removeData().html("");
                    $target.css({ opacity: '0.0' }).html($boxes).delay(50).animate({ opacity: '1.0' }, 300);
                    if (data.success) {
                        ShowNotification('success', data.message, data.title, 'top', 'center', 'animated zoomInRight', 'animated zoomOutRight');
                    }
                    else {
                        ShowNotification('danger', data.message, data.title, 'top', 'center', 'animated zoomInRight', 'animated zoomOutRight');
                    }
                },
                beforeSend: function (data, status) {
                    var loading = '<div class="loading" style="height:inherit;"><div class="cssload-main"><span class="cssload-spinner"></span></div></div>';
                    var $target = $('#restaurant-menu-content');
                    $target.removeData().html(loading);
                },
                error: function () {
                    ShowNotification('danger', "خطایی در سیستم رخ داده است!", "خطا", 'top', 'center', 'animated zoomInRight', 'animated zoomOutRight');
                }
            })
        }
        function RemoveImageGalleryPanel(e) {
            debugger;
            var id = $(e).attr("data-val");
            var $target = $(e).parent();
            var url = "/seller/restaurantimage/delete/";
            $.ajax({
                type: 'POST',
                data: { id: id },
                url: url,
                datatype: 'application/json',
                async: true,
                complete: function (data) {
                },
                success: function (data) {
                    debugger;
                    if (data.success) {
                        $target.fadeOut("slow", function () { $target.remove(); });
                        if ($(".img-gallery-detail").length == 1) {
                            $("#image-gallery-panel").addClass("empty-image-gallery");
                        }
                        ShowNotification('success', data.message, data.title, 'top', 'center', 'animated zoomInRight', 'animated zoomOutRight');
                    }
                    else {
                        ShowNotification('danger', data.message, data.title, 'top', 'center', 'animated zoomInRight', 'animated zoomOutRight');
                    }
                },
                beforeSend: function (data, status) {
                },
                error: function () {
                    ShowNotification('danger', "خطایی در سیستم رخ داده است!", "خطا", 'top', 'center', 'animated zoomInRight', 'animated zoomOutRight');
                }
            })
        }
        $(document).on('click', "#restaurant-menu-add", function () {
            debugger;
            var url = "/seller/restaurantmenu/create/";
            $.ajax({
                type: 'GET',
                //data: { id: id },
                url: url,
                datatype: 'application/json',
                async: true,
                success: function (data) {
                    debugger;
                    var $boxes = $(data.view);
                    var $target = $('#restaurant-menu-content');
                    $target.removeData().html("");
                    $target.css({ opacity: '0.0' }).html($boxes).delay(50).animate({ opacity: '1.0' }, 300);
                },
                complete: function () {
                    $("form").each(function () { $.data($(this)[0], 'validator', false); });
                    $.validator.unobtrusive.parse("form");
                },
                beforeSend: function (data, status) {
                    var loading = '<div class="loading" style="height:inherit;"><div class="cssload-main"><span class="cssload-spinner"></span></div></div>';
                    var $target = $('#restaurant-menu-content');
                    $target.removeData().html(loading);
                },
                error: function () {
                    ShowNotification('danger', "خطایی در سیستم رخ داده است!", "خطا", 'top', 'center', 'animated zoomInRight', 'animated zoomOutRight');
                }
            })
        });
        $(document).on('click', ".restaurant-menu-delete", function () {
            debugger;
            var $target = $(this).parent().find('.tooltip-text-action-delete');
            if ($target.hasClass("hide")) {
                $(this).parent().find('.tooltip-text-action-delete').addClass("animated fadeIn visible").removeClass("hide");
            }
            else {
                $(this).parent().find('.tooltip-text-action-delete').addClass("animated fadeIn hide").removeClass("visible");
            }
        });
        $(document).on('click', ".btn-panel-delete-no", function () {
            debugger;
            var $target = $(this).parent();
            $target.addClass("hide").removeClass("visible");
        });
        $(document).on('click', ".restaurant-menu-edit", function () {
            debugger;
            var id = $(this).attr("data-val");
            var url = "/seller/restaurantmenu/edit/";
            $.ajax({
                type: 'GET',
                data: { id: id },
                url: url,
                datatype: 'application/json',
                async: true,
                success: function (data) {
                    debugger;
                    var $boxes = $(data.view);
                    var $target = $('#restaurant-menu-content');
                    $target.removeData().html("");
                    $target.css({ opacity: '0.0' }).html($boxes).delay(50).animate({ opacity: '1.0' }, 300);
                },
                complete: function () {
                    $("form").each(function () { $.data($(this)[0], 'validator', false); });
                    $.validator.unobtrusive.parse("form");
                },
                beforeSend: function (data, status) {
                    var loading = '<div class="loading" style="height:inherit;"><div class="cssload-main"><span class="cssload-spinner"></span></div></div>';
                    var $target = $('#restaurant-menu-content');
                    $target.removeData().html(loading);
                },
                error: function () {
                    ShowNotification('danger', "خطایی در سیستم رخ داده است!", "خطا", 'top', 'center', 'animated zoomInRight', 'animated zoomOutRight');
                }
            })
        });
        //select and unchecked every image gallery box
        $(document).on('click', ".img-gallery-checkbox", function () {
            debugger;
            $("#RestaurantImageId").val($(this).val());
            $(".img-gallery-checkbox").each(function (i) {
                //$(this).prop('checked', false);
                if (!this.checked) {
                    $(this).parent().parent().parent().removeClass("selected");
                }
            });
            var isSelected = $(this).prop('checked');
            if (isSelected) {
                $(this).parent().parent().parent().addClass("selected");
            }
        });
    </script>
    @Html.AlertNotify(TempData)
}

