/*#region tabs */

#tabs {
    width: 100%;
    display: inline-block;
    margin: 0px;
    padding: 15px 0px;
}

    #tabs li.selected :after {
        display: block;
        width: 100%;
        height: 5px;
        background-color: #78AD73;
        content: "";
        position: relative;
        top: 20px;
    }

    #tabs li {
        display: inline-block;
        width: 45%;
        text-align: center;
    }

/*#endregion */

/*#region srearch-address */
.input-group-btn.search {
    position: absolute !important;
    top: 4px;
    left: 5px;
}

.input-group {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-section {
    background-color: rgba(255,255,255,0.8);
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

.custom-search-address-icon {
    font-size: 2.2rem;
    font-weight: bold;
    color: #B11212;
    vertical-align: middle;
    display: inline-block;
}

#custom-search-address-title-cityarea {
    color: #B11212;
}

.tab-container-cityarea-header {
    background-color: #fbf9f7;
    padding: 5px;
}

#cityarea-list {
    text-align: right;
    margin-right: -25px;
}

    #cityarea-list li:before {
        font-family: "iconsmind";
        content: "\ea99";
        display: inline-block;
        vertical-align: middle;
        color: #6FAB20;
        margin: 10px 2px;
        font-size: 20px;
    }

#search-main-btn {
    border-radius: 35px;
    font-size: 12px;
    padding: 7px 15px;
}


#restaurant-list-main-search {
    background: url(/image/background/map.png) center center no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 5px;
    width: 100%;
    border-radius: 10px;
}

#custom-search-input .search-query {
    /*width: 340px !important;*/
    padding: 0px 10px !important;
}


/*.c-header__address-dropdown {
            width: 50% !important;
        }*/

.c-header__address-dropdown::after {
    right: 50%;
}


#tab-container-cityarea-list {
    padding: 10px 0px;
}


.restaurant-cityarea {
    margin: 15px 0;
    font-size: 15px;
}

/*#endregion */

/*#region widget filter check */

.widget-filter-content .label {
    top: 15px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    width: 100%;
    display: inline-block;
}

.widget-filter-check {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    margin: 2px 0;
    border: 1px solid #6FAB20;
    padding: 0px 5px;
    border-radius: 5px;
    background-color: #e4e4e4;
}

.widget-title i.im, .widget-filter-content i.im {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 2px 3px;
    vertical-align: middle;
}

.theiaStickySidebar {
    border: 1px solid #a7ada9;
    border-radius: 10px;
}

[type="checkbox"] + span:not(.lever) {
    bottom: 20px !important;
    right: 100% !important;
    padding-left: 0 !important
}

label.not-box-check {
    padding: 0px 5px !important;
}

.menu-category-icon-filterwidget {
    width: 36px;
    position: absolute;
    height: 38px;
    opacity: 1;
    left: 50px;
    margin: 5px 5px;
}

/*#endregion */

/*#region city area selected */

li.cityarea-list-item.selected {
    border: 2px solid #7daf74;
    border-radius: 10px;
    margin-left: 10px;
}

    li.cityarea-list-item.selected:after {
        font-family: iconsmind;
        content: "\ee1e";
        color: #ACE266;
        font-style: normal;
        font-weight: bold;
        font-size: 2.0rem;
        margin-left: 14px;
        position: relative;
        float: left;
        top: 3px;
        vertical-align: middle;
    }

/*#endregion */

/*#region autocomplete suggestions search */

.autocomplete-suggestions {
    border-radius: 15px !important;
    cursor: pointer !important;
    border: 3px solid #ccc !important;
    box-shadow: 0 14px 20px rgba(56,60,71,.1);
}

.autocomplete-suggestion.autocomplete-search-restaurant {
    padding: 10px 10px;
}

/*#endregion */

/*#region restaurant item */

.restaurant-item-wrap .figure-wrap {
    position: relative;
    height: 210px;
}

.restaurant-item-wrap {
    border: 1px solid #eaebeb;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 30px;
    background: #fafaf8;
    box-shadow: 0 0 2px 1px #f2f2f2;
    border-radius: 10px;
    max-height: 399px;
    height: 399px;
    transition: all 500ms ease;
}


    .restaurant-item-wrap .distance {
        background: #f30;
        border-radius: 3px;
        color: #fff;
        font-size: 12px;
        padding: 0 10px;
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 20px;
    }

restaurant-item-wrap .rating {
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.restaurant-item-wrap .rating i {
    color: #ffd953;
    font-size: 16px;
}

.restaurant-item-wrap .rating .fa-star-o {
    font-size: 17px;
}

.restaurant-item-wrap .review {
    right: 30px;
    position: absolute;
    bottom: 30px;
}

.restaurant-item-wrap .figure-wrap::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    background: url(/image/template/waveline.png);
    width: 69%;
    height: 5px;
}

.restaurant-item-wrap .content {
    padding: 25px 15px 35px;
}


.restaurant-item-wrap .price {
    font-size: 21px;
    font-weight: 700;
    color: #000;
    margin-top: 4px;
    display: inline-block;
}

.restaurant-item-wrap .restaurant-block {
    border-top: 1px solid #eaebeb;
    float: left;
    width: 100%;
}

.restaurant-item-wrap .left {
    float: left;
    padding: 8px 15px;
}

.restaurant-item-wrap .right-text span, .restaurant-item-wrap .right-like-part, .restaurant-item-wrap .right-like-part span {
    font-weight: 300;
    color: #748796;
}

.restaurant-item-wrap .product-name {
    margin-bottom: 20px;
}

.restaurant-logo {
    width: 115px;
    height: 115px;
    position: absolute;
    bottom: -20px;
    right: 0;
    /*z-index: 2;*/
}

    .restaurant-logo img {
        box-shadow: 0px 5pt 12pt rgba(0,0,0,.12);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

.rating {
    top: 90px;
    position: absolute;
    background-color: rgba(175, 162, 162, 0.8);
    border-radius: 2px;
    padding: 0px 3px;
}

.restaurantypes-item {
    color: #35752f;
}

.restaurantypes, .deliverytime, .minorder {
    font-size: 12px;
    width: 98%;
}

.restaurantypes-item:not(:last-child):after, .point:after {
    content: "";
    width: 4px;
    height: 4px;
    display: inline-block;
    background-color: black;
    margin-right: 5px;
}


.restaurant-item-wrap:hover {
    box-shadow: 0px 9pt 12pt rgba(0,0,0,.12);
}


.restaurant-title {
    margin: 5px 10px;
}

.corner-ribbon span {
    background: linear-gradient(#EC5151 0%, #B11212 100%) !important;
}

.corner-ribbon {
    left: 10px;
    top: -5px;
}

/*#endregion */

/*#region panel side bar with effect */

.st-container,
.st-pusher,
.st-content {
    height: 100%;
}

.st-content {
    overflow-y: scroll;
    background: #f3efe0;
}

.st-content,
.st-content-inner {
    position: relative;
}

.st-container {
    position: relative;
    overflow: hidden;
}

.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

    .st-pusher::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        background: rgba(0,0,0,0.2);
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
        transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    }

.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 300px;
    height: 100%;
    overflow: scroll;
    background: #fff;
    -webkit-transition: all .5s;
    transition: all .5s;
}

    .st-menu::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
        content: '';
        opacity: 1;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }

.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.st-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.st-menu h2 {
    margin: 0;
    padding: 1em;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-weight: 300;
    font-size: 2em;
}

.st-menu ul li a {
    display: block;
    padding: 1em 1em 1em 1.2em;
    outline: none;
    box-shadow: inset 0 -1px rgba(0,0,0,0.2);
    color: #f3efe0;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
    box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
    background: rgba(0,0,0,0.2);
    box-shadow: inset 0 -1px rgba(0,0,0,0);
    color: #fff;
}

/* Individual effects */

/* Effect 1: Slide in on top */
.st-effect-1.st-menu {
    visibility: visible;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after {
    display: none;
}

/* Effect 2: Reveal */
.st-effect-2.st-menu-open .st-pusher {
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

.st-effect-2.st-menu {
    z-index: 1;
}

.st-effect-2.st-menu-open .st-effect-2.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.st-effect-2.st-menu::after {
    display: none;
}

/* Effect 3: Push*/
.st-effect-3.st-menu-open .st-pusher {
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

.st-effect-3.st-menu {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.st-effect-3.st-menu-open .st-effect-3.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.st-effect-3.st-menu::after {
    display: none;
}

/* Effect 4: Slide along */
.st-effect-4.st-menu-open .st-pusher {
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

.st-effect-4.st-menu {
    z-index: 1;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

.st-effect-4.st-menu-open .st-effect-4.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.st-effect-4.st-menu::after {
    display: none;
}

/* Effect 5: Reverse slide out */
.st-effect-5.st-menu-open .st-pusher {
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

.st-effect-5.st-menu {
    z-index: 1;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
}

.st-effect-5.st-menu-open .st-effect-5.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* Effect 6: Rotate pusher */

.st-effect-6.st-container {
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.st-effect-6 .st-pusher {
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.st-effect-6.st-menu-open .st-pusher {
    -webkit-transform: translate3d(300px, 0, 0) rotateY(-15deg);
    transform: translate3d(300px, 0, 0) rotateY(-15deg);
}

.st-effect-6.st-menu {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.st-effect-6.st-menu-open .st-effect-6.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(15deg);
    transform: translate3d(-100%, 0, 0) rotateY(15deg);
}

.st-effect-6.st-menu::after {
    display: none;
}

/* Effect 7: 3D rotate in */

.st-effect-7.st-container {
    -webkit-perspective: 1500px;
    perspective: 1500px;
    -webkit-perspective-origin: 0% 50%;
    perspective-origin: 0% 50%;
}

.st-effect-7 .st-pusher {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.st-effect-7.st-menu-open .st-pusher {
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

.st-effect-7.st-menu {
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
    transform: translate3d(-100%, 0, 0) rotateY(-90deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.st-effect-7.st-menu-open .st-effect-7.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
    transform: translate3d(-100%, 0, 0) rotateY(0deg);
}

/* Effect 8: 3D rotate out */

.st-effect-8.st-container {
    -webkit-perspective: 1500px;
    perspective: 1500px;
    -webkit-perspective-origin: 0% 50%;
    perspective-origin: 0% 50%;
}

.st-effect-8 .st-pusher {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.st-effect-8.st-menu-open .st-pusher {
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

.st-effect-8.st-menu {
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
    transform: translate3d(-100%, 0, 0) rotateY(90deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.st-effect-8.st-menu-open .st-effect-8.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
    transform: translate3d(-100%, 0, 0) rotateY(0deg);
}

.st-effect-8.st-menu::after {
    display: none;
}

/* Effect 9: Scale down pusher */

.st-effect-9.st-container {
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.st-effect-9 .st-pusher {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.st-effect-9.st-menu-open .st-pusher {
    -webkit-transform: translate3d(0, 0, -300px);
    transform: translate3d(0, 0, -300px);
}

.st-effect-9.st-menu {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.st-effect-9.st-menu-open .st-effect-9.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.st-effect-9.st-menu::after {
    display: none;
}

/* Effect 10: Scale up */

.st-effect-10.st-container {
    -webkit-perspective: 1500px;
    perspective: 1500px;
    -webkit-perspective-origin: 0% 50%;
    perspective-origin: 0% 50%;
}

.st-effect-10.st-menu-open .st-pusher {
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

.st-effect-10.st-menu {
    z-index: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, -300px);
    transform: translate3d(0, 0, -300px);
}

.st-effect-10.st-menu-open .st-effect-10.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* Effect 11: Scale and rotate pusher */

.st-effect-11.st-container {
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.st-effect-11 .st-pusher {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.st-effect-11.st-menu-open .st-pusher {
    -webkit-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
    transform: translate3d(100px, 0, -600px) rotateY(-20deg);
}

.st-effect-11.st-menu {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.st-effect-11.st-menu-open .st-effect-11.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.st-effect-11.st-menu::after {
    display: none;
}

/* Effect 12: Open door */

.st-effect-12.st-container {
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.st-effect-12 .st-pusher {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.st-effect-12.st-menu-open .st-pusher {
    -webkit-transform: rotateY(-10deg);
    transform: rotateY(-10deg);
}

.st-effect-12.st-menu {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.st-effect-12.st-menu-open .st-effect-12.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.st-effect-12.st-menu::after {
    display: none;
}

/* Effect 13: Fall down */

.st-effect-13.st-container {
    -webkit-perspective: 1500px;
    perspective: 1500px;
    -webkit-perspective-origin: 0% 50%;
    perspective-origin: 0% 50%;
}

.st-effect-13.st-menu-open .st-pusher {
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

.st-effect-13.st-menu {
    z-index: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.st-effect-13.st-menu-open .st-effect-13.st-menu {
    visibility: visible;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-speed: 0.2s;
    transition-speed: 0.2s;
}

/* Effect 14: Delayed 3D rotate */

.st-effect-14.st-container {
    -webkit-perspective: 1500px;
    perspective: 1500px;
    -webkit-perspective-origin: 0% 50%;
    perspective-origin: 0% 50%;
}

.st-effect-14 .st-pusher {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.st-effect-14.st-menu-open .st-pusher {
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

.st-effect-14.st-menu {
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
    transform: translate3d(-100%, 0, 0) rotateY(90deg);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.st-effect-14.st-menu-open .st-effect-14.st-menu {
    visibility: visible;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
    transform: translate3d(-100%, 0, 0) rotateY(0deg);
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
    padding-left: 300px;
}

/*#endregion */

.m_icon-filter {
    font-size: 30px;
}
